[submodule "source/persist"]
	path = source/persist
	url = https://github.com/bacsmar/pakal_persist.git

[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg.git
